
header {
    text-align: center;
}
.main-logo {
    width: 19em;
    height: auto;
    padding-top: 0.5em;
}

menu {
    border: 1px #8A8070;
    border-style: solid none;
}

menu ul { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

menu ul li a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 0.8em;
    text-transform: uppercase;
    padding: 1em;
}

menu ul li a:hover {
    color: #7ABA96;
}

aside {
    width: 17em;
    height: auto;
    text-align: center; 
    clear: left;
    padding-left: 10em;

}

aside .about-me p {
    color: gray;
    text-align: justify;
}

aside .book {
    background-color: #EEEEEE;
}
aside .book h4{
    padding-top:1em;
}
aside .book p{
    color: gray;
}

aside .book a{
    background-color: #7ABA96;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 0.85em;
    display: inline-block;
    width: 100%;
}



.grid {
  display: flex; /* Make products flex in row direction (default) */
  flex-wrap: wrap; /* Make products overflow on new row */
  justify-content: center; /* Or space-between or space-around */
}

.grid section {
    padding: 1.5em;
}

.grid section {
    width: 20em;
    height: auto;
    text-align: center;
}
.grid section img {
    width: 20em;
    height: auto;
}
.grid section p {
    text-align: justify;
}

.grid .date {
    margin-top: 2.5em;
    border: 1px #7ABA96;
    border-style: solid none;
}

.grid section h4 {
    width: auto;
    height: 1em;
}

footer {
    background-color: black;
}

footer ul { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding-top: 3em;
    padding-bottom: 3em;
}

footer ul li a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 1em;
    font-size: 0.85em;
}
